body {
    background-color: rgb(63, 63, 63);
    color: aliceblue;
    margin: 0 auto;
}
h1, .slider, .control {
    text-align: center;
}
img {
    border-radius: 3px;
}
.hidden {
    display: none;
}
.container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
.slider {
    margin-bottom: 20px;
}